<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager App</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="container">
    <h1>
        Welcome to Task Manager
    </h1>
    <p>
        Create ! and manage your tasks to make your life easier
    </p>
    <div class="login-signup">
        <h2>Create your account</h2>
        <button class="sign-up" id="signup-button">Sign Up</button>
        <h3>Or</h3>
        <button class="login" id="login-button">Log In</button>
    </div>
    </div>
    {{>footer}}
    <script src="./JavaScript/app.js"></script>
</body>
</html>