<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/login-signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="./image/homework.png" alt="image">
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Contact Us</a></li>
            <li><a href="/">Help</a></li>
        </ul>
    </nav>
    <img src="./image/notes.png" alt="" class="notes-img">
    <div class="fillup-form">
        <h3>Log In to your account</h3>
        <form>
            <div class="input-icons">
            <i class="fa fa-envelope icon"></i>
            <label >Email</label>
            <input type="email" id="email" placeholder="email">
            <br>
            <i class="fa fa-key icon"></i>
            <label for="">Password</label>
            <input type="password" id="password" placeholder="********">
            <button class="sign-up" id="signup-button" type="submit" name="submit" value="submit">Login</button>
            </div>
        </form>
        <img src="./image/login-img.png" alt="" class="login-img">
    </div>
    <script src="./JavaScript/app-login.js"></script>
</body>
</html>